<div class ="titulo" style="height: 680px; padding-top:50px; text-align: center; background-color: gray">
<h1>MACHINE LEARNING DIRECT</h1>
<div/>
<br>



<div class ="parrafo1"     
        
        
        
        <li class="nav-item">
        <%= link_to 'Learn...', home_learn_path, class: "btn btn-info btn-dark" %>
        
      </li>  
            
        


<div/>

<div class ="parrafo2" style="height: 100px";      
        
        

        <li class="nav-item">
        <%= link_to 'Get services...', home_services_path, class: "btn btn-info btn-dark" %>
        
      </li>  


<div/>

<br>
<br>
<br>
<br>
<br>






<section class="menu2">
      <div class="container">
        <nav">
      
      <ul>
        <h1 class="title2">
          CONTACT
        </h1>
         
          
          
        <li><a href="mailto:cristianca84@gmail.com"> <%= image_tag "mail-128.gif", :style => "height: 40px" %><br>Email</a></li>
        <li><a href="tel: +57 3105540748"> <%= image_tag "phone-42-128.gif", :style => "height: 40px" %><br>Phone</a></li>
        <li><a href="http://linkedin.com/in/cristian-camilo-cuevas-castañeda-b6a2a9193" target="_blank"> <%= image_tag "linkedin-5-128.gif", :style => "height: 40px" %><br>Linkedin</a></li>
          
          
      </ul>
  </nav>

      </div>
      
    </section>


  

    
   



    


   
